

<section class="section-features js--section-features" id="features">
    <div class="row">
        <h2>Kiditech</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box">
            <i class="ion-ios-world-outline icon-big"></i>
            <h3>About Kiditech</h3>
            <p class="long-copy">In Kiditech's mighty world, we coach, play and celebrate an innovative technology program: K-12 STEAM. We gather at Kiditech to learn and have fun with Robots Design, 3D Design and Print, IoT with Arduino and Raspberry Pi, Game Design and more. Together, we discover the evolution of technology and have fun with science, engineering, art and math!
            </p>
        </div>
        <div class="col span-1-of-2 box">
            <i class="ion-ios-game-controller-a-outline icon-big"></i>
            <h3>Why choose us</h3>
            <ul class="long-copy">
                <li>Largest selection of high-tech courses in the Bay Area </li>
                <li>Progressive course levels for children of different levels </li>
                <li>Project-based courses backed with a well-defined curriculum</li>
                <li>Great benefits with the low student-to-teacher ratio</li>
                <li>Highly qualified instructors with tech and engineering background </li>
                <li>Scholarships available for underprivileged and top performing students</li>
            </ul>
        </div>
    </div>
</section>

<section class="row section-courseBoxes" id="works">
    <div class="row">
        <h2>View our Courses</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-2 steps-box">
            <img src="resources/img/robot.png" alt="Omnifood app on iPhone" class="app-screen">
        </div>
        <div class="col span-1-of-2 steps-box">
            <div class="courseBox orange">
                <i class="ion-clipboard icon-medium"></i>
                <h3>Tech Explorers</h3>
                <p>Grade K2</p>
            </div>
            <div class="courseBox blue">
                <i class="ion-ios-book-outline icon-medium"></i>
                <h3>Tech Pioneers</h3>
                <p>Grade 3 to 5</p>
            </div>
            <div class="courseBox yellow">
                <i class="ion-laptop icon-medium"></i>
                <h3>Tech Innovators</h3>
                <p>Grade 6+</p>
            </div>
        </div>
    </div>
</section>
<section class="section-courses js--section-courses" id="courses">
    <div class="row">
        <h2>Popular Courses</h2>
    </div>
    <div class="row" ng-repeat="course in $ctrl.courseList | limitTo: -4 " ng-if="$index % 4 == 0">
        <div class="col span-1-of-4 box">
            <img src="{{$ctrl.courseList[$index].courseImg}}">
            <h3><a href="#!/courses/{{$ctrl.courseList[$index].courseId}}">{{$ctrl.courseList[$index].courseName}}</a></h3>
            <div class="course-feature">
                <i class="ion-ios-people icon-small"></i>
                {{$ctrl.courseList[$index].courseInstructor}}
            </div>
            <div class="course-feature">
                <i class="ion-social-usd icon-small"></i>
                <strike>$450.00</strike> ${{$ctrl.courseList[$index].coursePrice}}
            </div>
            <div class="course-feature">
                <i class="ion-ios-book icon-small"></i>
                <a href="#!/courses/{{$ctrl.courseList[$index].courseId}}">Read more</a>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="{{$ctrl.courseList[$index+1].courseImg}}">
            <h3><a href="#!/courses/{{$ctrl.courseList[$index+1].courseId}}">{{$ctrl.courseList[$index+1].courseName}}</a></h3>
            <br>
            <div class="course-feature">
                <i class="ion-ios-people icon-small"></i>
                {{$ctrl.courseList[$index+1].courseInstructor}}
            </div>
            <div class="course-feature">
                <i class="ion-social-usd icon-small"></i>
                <strike>$450.00</strike> ${{$ctrl.courseList[$index+1].coursePrice}}
            </div>
            <div class="course-feature">
                <i class="ion-ios-book icon-small"></i>
                <a href="#!/courses/{{$ctrl.courseList[$index+1].courseId}}">Read more</a>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="{{$ctrl.courseList[$index+2].courseImg}}">
            <h3><a href="#!/courses/{{$ctrl.courseList[$index+2].courseId}}">{{$ctrl.courseList[$index+2].courseName}}</a></h3>
            <br>
            <div class="course-feature">
                <i class="ion-ios-people icon-small"></i>
                {{$ctrl.courseList[$index+2].courseInstructor}}
            </div>
            <div class="course-feature">
                <i class="ion-social-usd icon-small"></i>
                <strike>$450.00</strike> ${{$ctrl.courseList[$index+2].coursePrice}}
            </div>
            <div class="course-feature">
                <i class="ion-ios-book icon-small"></i>
                <a href="#!/courses/{{$ctrl.courseList[$index+2].courseId}}">Read more</a>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="{{$ctrl.courseList[$index+3].courseImg}}">
            <h3><a href="#!/courses/{{$ctrl.courseList[$index+3].courseId}}">{{$ctrl.courseList[$index+3].courseName}}</a></h3>
            <br>
            <div class="course-feature">
                <i class="ion-ios-people icon-small"></i>
                {{$ctrl.courseList[$index+3].courseInstructor}}
            </div>
            <div class="course-feature">
                <i class="ion-social-usd icon-small"></i>
                <strike>$450.00</strike> ${{$ctrl.courseList[$index+3].coursePrice}}
            </div>
            <div class="course-feature">
                <i class="ion-ios-book icon-small"></i>
                <a href="#!/courses/{{$ctrl.courseList[$index+3].courseId}}">Read more</a>
            </div>
        </div>
    </div><div class="row">
    <br>
    <center><a href="#!/courses">View all courses</a></center>
</div>
</section>


<section class="section-testimonials" id="testimonials">
    <div class="row">
        <h2>Parents are happy with us!</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>
                So Cool! Nice summer camp! My son got a lot of fun from it. Now we are considering the weekend class.
                <cite>Gloria Guan</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Great summer camp! My kids love it, and start build robots himself, thanks to Kiditech teacher!
                <cite>Zhang Yang</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Teacher and tutors are really nice, my child had a wonderful time in KidiTech. We will come back next year for sure!
                <cite>Xiaojing li</cite>
            </blockquote>
        </div>
    </div>
</section>



<section class="section-form" id="contact">
    <div class="row">
        <h2>Contact us</h2>
    </div>
    <div class="row">
        <div class="col span-1-of-2 box">
            <center><h3>Send a message</h3></center>
            <div class="row ">
                <form method="post" action="#" class="contact-form">
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="name">Name:</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="text" name="name" id="name" placeholder="Your name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label for="email">Email:</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="email" name="email" id="email" placeholder="Your email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>Newsletter?</label>
                        </div>
                        <div class="col span-2-of-3">
                            <input type="checkbox" name="news" id="news" checked> Yes, please
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>Message:</label>
                        </div>
                        <div class="col span-2-of-3">
                            <textarea name="message" placeholder="Your message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col span-1-of-3">
                            <label>&nbsp;</label>
                        </div>
                        <div class="col btn span-1-of-3">
                            <center><input type="submit" value="Send"></center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col span-1-of-2 box">
            <div class="row">
                <center><h3>Contact Info</h3></center>
                <ul class="contactInfo">
                    <li><i class="ion-android-call icon-small"></i><a href="#">(01) 408 673 8765</a></li><br><br>
                    <li><i class="ion-android-mail icon-small"></i><a href="mailto:support@kiditech.org" target="_top">support@kiditech.org</a></li><br><br>
                    <li><i class="ion-ios-location icon-small"></i><a href="https://www.google.com/maps?q=4500+Great+America+Parkway,+STE300,+Santa+Clara,+CA,+US,+95054&um=1&ie=UTF-8&sa=X&ved=0ahUKEwj9iIT646vWAhXkrFQKHc-eDoUQ_AUICigB">4500 Great America Parkway, STE300, Santa Clara, CA, US, 95054</a></li><br><br>
                    <div  class="row">
                        <ul class="social-links">
                            <li><a href="https://www.kiditech.org"><i class="ion-android-globe"></i></a></li>
                            <li><a href="https://www.facebook.com/KiditechInc/"><i class="ion-social-facebook"></i></a></li>
                            <li><a href="https://twitter.com/KiditechSupport"><i class="ion-social-twitter"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UC89mcF7I5SWfNx1E0uyHJDQ"><i class="ion-social-youtube"></i></a></li>
                            <li><a href="https://www.instagram.com/kiditech/"><i class="ion-social-instagram"></i></a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>
