<section class="section-form" id="contact">
    <div class="row">
        <h2>Edit Profile</h2>
    </div>
    <div class="row">
        <center><h3>Name</h3></center>
        <br>
        <form method="post" ng-controller="profileController" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label>First Name:</label>
                </div>
                <div class="col span-2-of-3">
                    <label >{{userFirstName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Last Name:</label>
                </div>
                <div class="col span-2-of-3">
                    <label>{{userLastName}}</label>
                </div>
            </div>
            <br>
            <center><h3>Contact Information</h3></center>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Email:</label>
                </div>
                <div class="col span-2-of-3">
                    <label>{{userEmail}}</label>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Old Password:</label>
                </div>
                <div class="col span-2-of-3">
                    <input ng-model="userOldPassword" type="password" placeholder="Your Old password" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>New Password:</label>
                </div>
                <div class="col span-2-of-3">
                    <input ng-model="userNewPassword" type="password" placeholder="Your New password" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Repeat password:</label>
                </div>
                <div class="col span-2-of-3">
                    <input ng-model="repeatNewPassword" type="password" placeholder="Repeat Your New password" required>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-1-of-3">
                    <center><input ng-click="passwordUpdate()" type="submit" value="Update Profile"></center>
                </div>
            </div>
        </form>
    </div>
</section>