<section class="section-form" id="contact">
    <div class="row">
        <h2>Register to Kiditech</h2>
    </div>
    <div class="row">
        <form method="post" ng-controller="signupController" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">First Name:</label>
                </div>
                <div class="col span-2-of-3">
                    <input ng-model="firstName" type="text" name="name" id="name" placeholder="Your first name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Last Name:</label>
                </div>
                <div class="col span-2-of-3">
                    <input ng-model="lastName" type="text" name="name" id="name" placeholder="Your last name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email:</label>
                </div>
                <div class="col span-2-of-3">
                    <input ng-model="userEmail" type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="password">Password:</label>
                </div>
                <div class="col span-2-of-3">
                    <input ng-model="userPassword" type="password" name="password" id="password" placeholder="Your password" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-1-of-3">
                    <center><input type="submit" ng-click="submit()" value="Create User"></center>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <br>
        <br>
        <p><center>Are you a member? <a href='loginUser.html'>Login here</a></center></p>
        <br>
        <br>
        <p><center><a href='#!/home'>Go back</a></center></p>
    </div>
</section>