<section class="section-courses">
    <div class="row">
        <h2>Our Courses</h2>
    </div>

    <div class="row" ng-repeat="course in $ctrl.courseList" ng-if="$index % 4 == 0">
        <div class="col span-1-of-4 box">
            <img src="{{$ctrl.courseList[$index].courseImg}}">
            <h3><a href="#!/courses/{{$ctrl.courseList[$index].courseId}}">{{$ctrl.courseList[$index].courseName}}</a></h3>
            <div class="course-feature">
                <i class="ion-ios-people icon-small"></i>
                {{$ctrl.courseList[$index].courseInstructor}}
            </div>
            <div class="course-feature">
                <i class="ion-social-usd icon-small"></i>
                <strike>$450.00</strike> ${{$ctrl.courseList[$index].coursePrice}}
            </div>
            <div class="course-feature">
                <i class="ion-ios-book icon-small"></i>
                <a href="#!/courses/{{$ctrl.courseList[$index].courseId}}">Read more</a>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="{{$ctrl.courseList[$index+1].courseImg}}">
            <h3><a href="#!/courses/{{$ctrl.courseList[$index+1].courseId}}">{{$ctrl.courseList[$index+1].courseName}}</a></h3>
            <br>
            <div class="course-feature">
                <i class="ion-ios-people icon-small"></i>
                {{$ctrl.courseList[$index+1].courseInstructor}}
            </div>
            <div class="course-feature">
                <i class="ion-social-usd icon-small"></i>
                <strike>$450.00</strike> ${{$ctrl.courseList[$index+1].coursePrice}}
            </div>
            <div class="course-feature">
                <i class="ion-ios-book icon-small"></i>
                <a href="#!/courses/{{$ctrl.courseList[$index+1].courseId}}">Read more</a>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="{{$ctrl.courseList[$index+2].courseImg}}">
            <h3><a href="#!/courses/{{$ctrl.courseList[$index+2].courseId}}">{{$ctrl.courseList[$index+2].courseName}}</a></h3>
            <br>
            <div class="course-feature">
                <i class="ion-ios-people icon-small"></i>
                {{$ctrl.courseList[$index+2].courseInstructor}}
            </div>
            <div class="course-feature">
                <i class="ion-social-usd icon-small"></i>
                <strike>$450.00</strike> ${{$ctrl.courseList[$index+2].coursePrice}}
            </div>
            <div class="course-feature">
                <i class="ion-ios-book icon-small"></i>
                <a href="#!/courses/{{$ctrl.courseList[$index+2].courseId}}">Read more</a>
            </div>
        </div>
        <div class="col span-1-of-4 box">
            <img src="{{$ctrl.courseList[$index+3].courseImg}}">
            <h3><a href="#!/courses/{{$ctrl.courseList[$index+3].courseId}}">{{$ctrl.courseList[$index+3].courseName}}</a></h3>
            <br>
            <div class="course-feature">
                <i class="ion-ios-people icon-small"></i>
                {{$ctrl.courseList[$index+3].courseInstructor}}
            </div>
            <div class="course-feature">
                <i class="ion-social-usd icon-small"></i>
                <strike>$450.00</strike> ${{$ctrl.courseList[$index+3].coursePrice}}
            </div>
            <div class="course-feature">
                <i class="ion-ios-book icon-small"></i>
                <a href="#!/courses/{{$ctrl.courseList[$index+3].courseId}}">Read more</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <center><a href="#!/home">Go back</a></center>
</section>